<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <!-- ... -->
    <add key="ConfigPath" value="\..\..\Config\" />
    <add key="ThreadSleep" value="5000"/>
    <add key="MongoServer" value="mongodb://localhost:27017"/>
    <add key="DBName" value="MultiThread"/>
    <add key="Environment" value="Prod"/>
    <!-- ... -->
  </appSettings>
</configuration>
